.mainheading {
    text-align: center;
    color: rgb(255, 255, 255);
}

body {
    background-color: rgb(68, 65, 65);
}

p {
    color: azure;
}

.centerForm {
    display: block;
    text-align: center;
}

form {
    border: 3px solid #f1f1f1;
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
    
    text-align: left;
  }
  

  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color: aqua;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: rgb(129, 121, 124);
    box-sizing: border-box;
  }
  ::placeholder {
      color: aqua;
  }
  
  
  button {
    background-color: #1f1d15;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    width: 100%;
}
  
  
  button:hover {
    opacity: 0.8;
  }
  
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  
  .container {
    padding: 16px;
  }
  
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }